@let note = note$ | async;
@let widgets = widgets$ | async;

@if (note) {
  <div class="fixed top-0 left-0 p-4 z-10">
    <h1 class="text-4xl font-bold">{{note.title}}</h1>
    <button class="mt-4 bg-red-400 py-2 px-4" (click)="addWidget()">Add</button>
    <button class="mt-4 bg-red-400 py-2 px-4 ml-3" (click)="addWidget('simple-text')">Add textt</button>
  </div>
}

<div class="w-full h-full relative widget-field">

  @if (widgets) {
    @for (widget of widgets; track widget.id) {
      <ntz-base-widget
        [widget]="widget"
        (moved)="updatePosition(widget.id!, $event)"
        (removed)="deleteWidget(widget.id!)"
        (movedBackward)="moveBackward(widget)"
        (metaUpdated)="updateMeta(widget.id!, $event)"
        (movedForward)="moveForward(widget)">
        @switch (widget.type) {
          @case ('simple-text') {
            <ntz-simple-text />
          }
          @case ('debug') {
            <ntz-debug-widget />
          }
        }
      </ntz-base-widget>
    }
  }


</div>
