@let widgets = widgets$ | async;
@let note = note$ | async;

<div [style.width.px]="activeBoardWidth()" [style.height.px]="activeBoardHeight()" class="min-w-full min-h-full relative widget-field bg-transparent" #board>
  <div class="pt-8 px-8 top-0 left-0">
    <ntz-header [header]="note?.title ?? ''"/>
  </div>
  @if (widgets) {
    @for (widget of widgets; track widget.id) {
      <ntz-base-widget
        [widget]="widget"
        (moved)="updatePosition(widget.id!, $event)"
        (moving)="checkExpanding($event)"
        (removed)="deleteWidget(widget.id!)"
        (movedBackward)="moveBackward(widget)"
        (metaUpdated)="updateMeta(widget.id!, $event)"
        (movedForward)="moveForward(widget)">
      </ntz-base-widget>
    }
  }
</div>

@if (showDropZone()) {
  <div class="pointer-events-none position-fixed z-2000 bg-green-100 bg-opacity-5 fixed left-0 top-0 w-full h-full flex justify-center items-center">
    <h2 class="text-6xl font-bold text-green-500">Drop your images here</h2>
  </div>
}


<ntz-notez-control
  [canRedo]="canRedo$ | async"
  [canUndo]="canUndo$ | async"
  (undo)="undo()"
  (redo)="redo()"
  (delete)="deleteBoard()"
  (create)="addWidget($event)"/>
