@let note = note$ | async;
@let widgets = widgets$ | async;

@if (note) {
  <div class="fixed flex items-center gap-2 top-0 left-0 p-4 z-10">
    <h1 class="text-4xl font-bold">{{note.title}}</h1>
    <button class="bg-red-400 py-2 px-4" (click)="addWidget()">Add</button>
    <button class="bg-red-400 py-2 px-4" (click)="addWidget('simple-text')">Add text</button>
    <button class="bg-red-400 py-2 px-4" (click)="addWidget('todo')">Add todo</button>
  </div>
}

<div class="w-full h-full relative widget-field">
  @if (widgets) {
    @for (widget of widgets; track widget.id) {
      <ntz-base-widget
        [widget]="widget"
        (moved)="updatePosition(widget.id!, $event)"
        (removed)="deleteWidget(widget.id!)"
        (movedBackward)="moveBackward(widget)"
        (metaUpdated)="updateMeta(widget.id!, $event)"
        (movedForward)="moveForward(widget)">
      </ntz-base-widget>
    }
  }
</div>

@if (showDropZone()) {
  <div class="pointer-events-none position-fixed z-2000 bg-green-100 bg-opacity-5 fixed left-0 top-0 w-full h-full flex justify-center items-center">
    <h2 class="text-6xl font-bold text-green-500">Drop your images here</h2>
  </div>
}


